# macOS
.DS_Store

# Xcode user settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build output
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Temporary files
*.moved-aside
*.swp
*.tmp
